<div class='container'>
  <div class='row'>
    <div class="col-md-12">
      <h2>group</h2>
      <%= image_tag @group.get_group_image, size: '50x50' %>
      <%= @group.name %>
      <%= @group.introduction %>
      <% @group.users.each do |user| %>
        <li style="list-style: none;"><%= user.user_name %></li>
      <% end %>

      <% if @group.is_owned_by?(current_user) %>
        <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-outline-success" %>
        <%= link_to 'Delete', group_path(@group), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger" %>
      <% elsif @group.includesUser?(current_user)%>
        <%= link_to 'Leave this group', group_group_users_path(@group), method: :delete, class: "btn btn-sm btn-outline-danger" %>
      <% else %>
        <%= link_to 'Join this group', group_group_users_path(@group), method: :post, class: "btn btn-sm btn-outline-success" %>
      <% end %>
    </div>

    <div class="col-md-12">
      <h2>CHAT WITH <%= @group.name %></h2>

      <table class="message table">
        <% @group.chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
            <tr>
              <th>
                <p style="text-align: left;"><%= chat.message %></p>
              </th>
              <th>
                <%= @user.user_name %>
                <%= image_tag chat.user.get_profile_image, size: "50x50" %>
              </th>
            </tr>
          <% else %>
            <tr>
              <th>
                <%= current_user.user_name %>
                <%= image_tag chat.current_user.get_profile_image, size: "50x50" %>
              </th>
              <th>
                <p style="text-align: right;"><%= chat.message %></p>
              </th>
            </tr>
          <% end %>
        <% end %>
      </table>

      <%= form_with model: @chat, remote: true do |f| %>
        <%= f.text_field :message %>
        <%= f.hidden_field :group_id %>
        <%= f.submit "SEND", class: "btn btn-sm btn-success chat-btn" %>
      <% end %>
    </div>
  </div>
</div>