<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>edit</h2>

      <%= form_with model:@post, local: true do |f| %>

        <div class="field">
          <%= f.file_field :image %>
        </div>

        <div class="field">
          <%= f.label :body %>
          <%= f.text_area :body %>
        </div>

        <div>
          <%= f.label :tag_body %>
          <%= f.text_field :tag_body %>
        </div>

        <div>
          <%= f.submit "update" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
