<div class="container">
  <div class="row">
    <% if params[:name] == nil %>
      <div class= "hashtag-name">
        <% @hashtags.sort.reverse.each do |count| %>
          <% count[1].each do |hashtag| %>
            <p>
              <%= link_to "##{hashtag.tag_name} (#{hashtag.posts.count}) 件","/post/hashtag/#{hashtag.tag_name}",data: {"turbolinks" => false} %>
            </p>
          <% end %>
        <% end %>
      </div>

    <% else %>
      <div class="card-list-container d-flex flex-wrap">
        <% @post.each do |post| %>
          <div class="card text-dark shadow-lg" style="width: 300px; margin: 25px 35px 10px 35px;">
            <%= link_to post_path(post) do %>
              <%= image_tag post.image, size: '200x200', class: "card-img-top"; %><br>
            <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <%= image_tag post.user.get_profile_image, size: '50x50', class: "mt-3 rounded-circle"; %>
                </div>
                <div class="col-10">
                  <p class="card-title">
                    <strong><span> <%= truncate(post.body, length: 10) %></span></strong>
                  </p>
                  <span><%= render_with_hashtags(post.tag_body) %></span><br>
                  <span>by <%= post.user.user_name %></span><br>
                  <span><%= l post.created_at %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class= "hashtag-name">
        <% @hashtags.sort.reverse.each do |count| %>
          <% count[1].each do |hashtag| %>
            <p>
              <%= link_to "##{hashtag.tag_name} (#{hashtag.posts.count}) 件","/post/hashtag/#{hashtag.tag_name}",data: {"turbolinks" => false} %>
            </p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

