<div class="container">
  <div class="row">
    <div class="col-md-7 mt-5">
      <h2>show</h2>
      <div>
        <%= image_tag @post.image, size: "450x450" %>
      </div>
    </div>
    <div class="col-md-5 mt-5">
      <div>
        <%= @post.body %><br>
        <%= render_with_hashtags(@post.tag_body) %>
        <%= image_tag @post.user.get_profile_image, class: "rounded-circle", size: "45x45" %>
        <%= @post.user.user_name %>
      </div>
      <div>
        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-outline-success" %>
        <%= link_to "Delete", post_path(@post), method: :delete, class: "btn btn-outline-danger" %>
      </div>
    </div>
  </div>
</div>
