<div class='container'>
  <div class='row'>
    <div class="col-md-12">
      <h2>group</h2>
      <%= image_tag @group.get_group_image, size: '50x50' %>
      <%= @group.name %>
      <%= @group.introduction %>
      <% @group.users.each do |user| %>
        <li style="list-style: none;"><%= user.user_name %></li>
      <% end %>
      <%= link_to "edit", edit_admin_group_path(@group), class: "btn btn-outline-success" %>
    </div>
  </div>
</div>